<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LoopeyRestaurant</title>

        <link rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>

        <nav>
            <a href="/">Home</a>
            <a href="/pizzas/margarita">Pizza Margarita</a>
            <a href="/pizzas/veggie">Pizza Veggie</a>
            <a href="/pizzas/seafood">Pizza Seafood</a>
            <a href="/contact">Contact</a>
        </nav>

{{{body}}} 

<footer>
        this is the footer
    </footer>

    </body>
    </html>